/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitmodules export-ignore
/.php_cs export-ignore
/.styleci.yml export-ignore
/phpunit.xml.dist export-ignore
/test export-ignore
